.box-comp {
  .content {
    width: 280px;
    padding: 10px 20px;
    height: 104px;
    border: 1px solid $b-1;
    margin-left: 15px;
    margin-bottom: 15px;
    div {
      font-size: 16px;
    }
    .type {
      margin: 5px 0 10px 0;
    }
  }
}