/** 字体图标 */
$tabbarSize: 1.2em;
$url: './assets/img/';

.icon {
  display: inline-block;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  height: $tabbarSize;
  width: $tabbarSize;
}



.icon-arrow {
  background-image: url($url+'arrow.png');
}

/** 字体图标 end */