@import './mixin.scss';

/* 全局变量 */
$green: #06c085;
$red: #fa6041;
$gray: #777;
$black: #333;

$b-1: #EAEEED;
$b-2: #00b38a;
$b-3: #999;
$b-4: #E8E8E8;
$b-5: #F2F5F4;
$b-6: #00a57f;
$b-7: #e5e5e5;
$b-8: #c4c3c3;

$bg-1: #f7f7f7;
$bg-2: #ff5000;

$mWidth: 1198px;
