.home-page {
  header {
    position: relative;

    .right-carousel {
      width: 880px;
      height: 490px;
    }

    .left-sort-comp {
      z-index: 2;
    }

    .left-nav:hover {
      .menu {
        display: block;
      }
    }

    .menu {
      display: none;
      position: absolute;
      width: 780px;
      height: 491px;
      background-color: white;
      left: 318px;
      top: 0;
      z-index: 1;
      border: 1px solid $b-1;
      border-left: 0;
      box-shadow: 10px 0 10px 0 rgba(56, 81, 76, .12);

      p {
        width: 245px;
        margin-left: 10px;
        height: 50px;
        line-height: 50px;
        padding-left: 20px;
        display: inline-block;
      }
    }
  }
}

/* For demo */
.ant-carousel {
  width: 850px;
  margin-left: 30px;
}

.ant-carousel .slick-slide {
  text-align: center;
  line-height: 160px;
  background: #364d79;
  overflow: hidden;
}

.ant-carousel .slick-slide h3 {
  color: #fff;
}